.container{
    height: 400px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item{
    background-color: orange;
    padding: 0 5px;
    margin: 5px;
    flex: 1;
    text-align: center;
    color: white;
}

.center{
    align-content: center;
}

.stretch{
    align-content: stretch;
}

.start{
    align-content: flex-start;
}

.end{
    align-content: flex-end;
}

.space-between{
    align-content: space-between;
}

.space-around{
    align-content: space-around;
}